body {
    background-color: #060a06;
    color: #ffffff;
}

div img {
    display: flex;
    height: 250px;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}

/* display styling for footer contact */
footer div p, footer div a {
    display: inline;
    text-decoration: none;
    color: #ffffff;
    justify-content: space-evenly;
    font-size: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

footer div p:hover, footer div a:hover {
    background-color: green;
}

/* styling for the logo font within the techstack section of the page */
.fs-1 {
    font-size: calc(3rem + 1.5vw)!important;
}

footer {
    background-image: url(../images/bg.jpg);
    height: 325px;
    width: 100%;
    background-repeat: no-repeat;

}

section p {
    line-height: 1.5px;
    text-align: center;
}

section {
    padding-top: 20px;
}